.sidebar {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 9%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffd3d0;
  overflow: hidden;
}

body {
  margin: 0;
}

.topbar {
  overflow: hidden;
  margin: 0;
  margin-left: 9%;
  height: 15%;
  background-color: #ffb7b2;
}

.weekButton {

  float: left;
  color: white;
  width: 19%;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: thin;
  text-align: center;

}

#rightButton {
  background-color: #ff9f99;
  float: left;
  width: 20.8%;
  border-right-style: none;

}

#leftButton {
  background-color: #ff9f99;

}

.currentWeek {

  float: left;
  width: 60%;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: thin;
  color: white;
  text-align: center;

}

.sideItem {

  height: 25%;
  font-size: 130%;
  color: #818181;
  display: block;
  margin: 0px;
  border: 0px;
  padding: 0px;

}
#add {
float:middle;
vertical-align: center;
margin-top: 25%;
margin-left: 20%;
margin-right: 9%;
text-align:middle;
}

.selection {

  height: 100%;
  width: 100%;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  border-color: #ffd3d0;
  border-bottom-style: solid;
  border-width: thin;
  margin-top: 0px;
  margin-bottom: 0px;

}
.selection text {
  text-align: justify;
}

.selection img {
  display: block;
  margin: 0 auto;
}

.calendar {
  margin-left: 9%;
  height: 100%;
  width: 92%;
  background-color: #ffe9e7;
  display: block;
  position: absolute;
}

.day {
  float: left;
  height: 100%;
  width: 14%;
  border-right-color: black;
  border-right-width: thin;
  border-right-style: solid;
  text-align: center;
}

#day7 {
  border-right-style: none;
}
