.sidebar {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 8%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
}

.sideItem {

  height: 34%;
  font-size: 130%;
  color: #818181;
  display: block;
  margin: 0px;
  border: 0px;
  padding: 0px;

}

.selection {

  height: 100%;
  width: 100%;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  border-color: white;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  margin-top: 0px;
  margin-bottom: 0px;

}
