.sidebar {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
}

.sideItem {

  height: 33%;
  font-size: 25px;
  color: #818181;
  display: block;

}

.selection {

  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  border-color: white;
  border-style: dashed;
  border-width: thick;

}
