body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#header {
  overflow: hidden;
  margin: 0;
  padding: 15px;
  height: 50px;
  width: auto;
  background-color: grey;
  text-align: left;
  color: white;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

#addItem {
  width: 100%;
  height: 50px;
  background-color: red;
  align-items: center;
  align-content: center;
}

#goBack {
  width: 100%;
  height: 50px;
  background-color: red;
  align-items: center;
  align-content: center;
}
