<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheet/aboutUs.css">
    <title>About Us - To Do</title>
  </head>
  <body>
    <div class="bigDiv">
      <div class="wrapper">
        <div class="box">
          <strong>Name1</strong>
        </div>
        <div class="box">
          <strong>Name2</strong>
        </div>
        <div class="box">
          <strong>Name3</strong>
        </div>
      </div>
      <form class="form" action="dashboard.html" method="post">
        <input type="hidden" name="userID" value="{{userID}}">
        <div class="button">
          <input type="submit" value="Go Back">
        </div>
      </form>
  </div>
  </body>
</html>
