<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheet/aboutUs.css">
    <title>About Us - To Do</title>
  </head>
  <body>
    <div class="bigDiv">
      <div class="wrapper">
        <div class="box">
          <strong>Trey Rudolph</strong>
          <br>
          <br>
          <div class="thing">
            <img width="90%" src="templates/IMG_6487.JPG">
          </div>
          <p>A graduate of The Overlake School in Redmond, Washington. He will continue his passion for entrepreneurship and computer science at Washington University in St. Louis </p>        </div>
        <div class="box">
          <strong>Mikey</strong>
          <br>
          <br>
          <div class="thing">
            <img width="90%" src="templates/mikeyimage.png">
          </div>
          <p>A graduate of Kelso High School and Lower Columbia College currently pursuing their bachelor's degree in Computer Science at ASU</p>
        </div>
        <div class="box">
          <strong>Vivviane </strong>
          <br>
          <br>
          <div class="thing">
            <img width="90%" src="placeholder.png">
          </div>
          <p>My name is Viviane Fernando. I will be majoring in Computer Science at the University of California, Riverside!</p>
      </div>
      <form class="form" action="dashboard.html" method="post">
        <input type="hidden" name="userID" value="{{userID}}">
        <div class="button">
          <input type="submit" value="Go Back">
        </div>
      </form>
  </div>
  </body>
</html>
