<!DOCTYPE html>
<html>
  <head>
    <title>Calendar - To Do</title>
    <link rel="stylesheet" type="text/css" href="stylesheet/calendar.css">
  </head>
  <body>
    <div class="topbar">
      <div class="weekButton">
        <p>Back one week</p>
      </div>
      <div class="currentWeek">
        <p>This week is</p>
      </div>
      <div class="weekButton" id="rightButton">
        <p>Forward one week</p>
      </div>
    </div>
    <div class="sidebar">
      <div class="sideItem" onclick="add">
        <p class="selection">Add</p>
      </div>
      <div class="sideItem">
        <p class="selection" onclick="search">Search</p>
      </div>
      <div class="sideItem">
        <p class="selection" onclick="settings">Settings</p>
      </div>
    </div>
    <script>
      function add() {

      }

      function search() {

      }

      function settings() {

      }
    </script>
  </body>
</html>
