<!DOCTYPE html>
<html>
  <head>
    <title>Calendar - To Do</title>
    <link rel="stylesheet" type="text/css" href="stylesheet/calendar.css">
  </head>
  <body>
    <div class="topbar">
      <div class="weekButton" onclick="backWeek()" id="leftButton">
        <p>Back one week</p>
      </div>
      <div class="currentWeek">
        <p id="currentWeekText"></p>
      </div>
      <div class="weekButton" onclick="forwardWeek()" id="rightButton">
        <p>Forward one week</p>
      </div>
    </div>
    <div class="sidebar">
      <div class="sideItem" onclick="dashboard()">
          <img id= "add" src="https://cdn2.iconfinder.com/data/icons/thin-charts-analytics/24/thin-1086_kpi_dashboard_monitor-512.png" width="75px" height="75px" alt=""/>
        <p class="selection">Dashboard</p>
      </div>
      <div class="sideItem" onclick="add()">
          <img id= "add" src="https://cdn3.iconfinder.com/data/icons/stroke/53/Button-512.png" width="75px" height="75px" alt=""/>
        <p class="selection">Add</p>

      </div>
      <div class="sideItem" onclick="search()">
        <img id= "add" src="https://cdn3.iconfinder.com/data/icons/pyconic-icons-1-2/512/search-512.png" width="75px" height="75px" alt=""/>
        <p class="selection">Search</p>
      </div>
      <div class="sideItem" onclick="clearFunct()">
        <img id= "add" src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/trash-o-512.png" width="75px" height="75px" alt=""/>
        <p class="selection">Clear Calendar</p>
      </div>
    </div>
    <div class="calendar">
      <div class="day" id="day1">
      </div>
      <div class="day" id="day2">
      </div>
      <div class="day" id="day3">
      </div>
      <div class="day" id="day4">
      </div>
      <div class="day" id="day5">
      </div>
      <div class="day" id="day6">
      </div>
      <div class="day" id="day7">
      </div>
    </div>
    <script>

      function clearFunct() {
        clear();
      }

      var pastDate = new Date();
      pastDate.setDate(pastDate.getDate() - 1);

      var futureDate = new Date();
      futureDate.setDate(futureDate.getDate() + 5);

      document.getElementById("currentWeekText").innerHTML = pastDate.toLocaleDateString() + " - " + futureDate.toLocaleDateString();

      for(var i=1; i<8; i++) {

        var d = new Date();
        d.setDate(pastDate.getDate() - 1 + i);
        var dayDiv = document.getElementById("day" + i);
        var p = document.createElement("p");
        p.innerHTML = d.toLocaleDateString();
        dayDiv.appendChild(p);

      }

      fetchEvents();

      function fetchEvents() {

        for(var i=1; i<8; i++) {
          while(document.getElementById("day" + i).childNodes.length > 2) {
            document.getElementById("day" + i).removeChild(document.getElementById("day" + i).lastChild);
          }
        }

        var month = pastDate.getMonth() + 1 + "";
        var day = pastDate.getDate() + "";
        var year = pastDate.getFullYear();

        if(day.length < 2) {
          day = "0" + day;
        }
        if(month.length < 2) {
          month = "0" + month;
        }

        var dateString = month + "/" + day + "/" + year;

        var formData = new FormData();
        formData.append("filter", dateString);
        formData.append("filterBy", "week");
        formData.append("userID", "{{userID}}");

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            eval("var data=" + xhttp.responseText);
            for(var i=0; i<data.length; i++) {
              for(var j=0; j<data[i].length; j++) {
                var event = data[i][j];
                var newDiv = document.createElement("div");
                newDiv.classList.add("event");
                var title = document.createElement("p");
                title.innerHTML = "<strong>"+event.title+"</strong>"
                var description = document.createElement("p");
                description.innerHTML = event.time + " at " + event.location;
                newDiv.appendChild(title);
                newDiv.appendChild(description);
                document.getElementById("day" + (i+1)).appendChild(newDiv);
              }
            }
          }
        };
        xhttp.open("POST", "/queryparser", true);
        xhttp.send(formData);

      };

      function dashboard() {

        var form = document.createElement('form');
        form.style.visibility = 'hidden';
        form.method = 'POST';
        form.action = 'dashboard.html';
        var key = document.createElement("input");
        key.name = "userID";
        key.value = "{{userID}}";
        form.appendChild(key);
        var username = document.createElement("input");
        username.name = "username";
        username.value = "{{username}}";
        form.appendChild(username);
        var key3 = document.createElement("input");
        key3.name = "realName";
        key3.value = "{{realName}}";
        form.appendChild(key3);
        document.body.appendChild(form);
        form.submit();

      }

      function add() {

        var form = document.createElement('form');
        form.style.visibility = 'hidden';
        form.method = 'POST';
        var key = document.createElement("input");
        key.name = "userID";
        key.value = "{{userID}}";
        form.appendChild(key);
        var key2 = document.createElement("input");
        key2.name = "username";
        key2.value = "{{username}}";
        form.appendChild(key2);
        var key3 = document.createElement("input");
        key3.name = "realName";
        key3.value = "{{realName}}";
        form.appendChild(key3);
        form.action = "newCalendarItem.html";
        document.body.appendChild(form);
        form.submit();

      }

      function search() {

        var form = document.createElement('form');
        form.style.visibility = 'hidden';
        form.method = 'POST';
        form.action = 'searchCal.html';
        var key = document.createElement("input");
        key.name = "userID";
        key.value = "{{userID}}";
        form.appendChild(key);
        var username = document.createElement("input");
        username.name = "username";
        username.value = "{{username}}";
        form.appendChild(username);
        var key3 = document.createElement("input");
        key3.name = "realName";
        key3.value = "{{realName}}";
        form.appendChild(key3);
        document.body.appendChild(form);
        form.submit();

      }

      function clear() {

        var formData = new FormData();
        formData.append("filter", "");
        formData.append("filterBy", "clearAll");
        formData.append("userID", "{{userID}}");

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            window.setTimeout(fetchEvents, 500);
          }
        }
        xhttp.open("POST", "/queryparser", true);
        xhttp.send(formData);

      }

      function backWeek() {

          pastDate.setDate(pastDate.getDate() - 7);
          futureDate.setDate(futureDate.getDate() - 7);
          document.getElementById("currentWeekText").innerHTML = pastDate.toLocaleDateString() + " - " + futureDate.toLocaleDateString();

          for(var i=1; i<8; i++) {

            var d = new Date();
            d.setTime(pastDate.getTime() + ((i - 1) * 24 * 60 * 60 * 1000));
            var dayDiv = document.getElementById("day" + i);

            while(dayDiv.firstChild) {
              dayDiv.removeChild(dayDiv.firstChild);
            }

            var p = document.createElement("p");
            p.innerHTML = d.toLocaleDateString();
            dayDiv.appendChild(p);

          }

          fetchEvents();

      }

      function forwardWeek() {

        pastDate.setDate(pastDate.getDate() + 7);
        futureDate.setDate(futureDate.getDate() + 7);
        document.getElementById("currentWeekText").innerHTML = pastDate.toLocaleDateString() + " - " + futureDate.toLocaleDateString();

        for(var i=1; i<8; i++) {

          var d = new Date();
          d.setTime(pastDate.getTime() + ((i - 1) * 24 * 60 * 60 * 1000));
          var dayDiv = document.getElementById("day" + i);

          while(dayDiv.firstChild) {
            dayDiv.removeChild(dayDiv.firstChild);
          }

          var p = document.createElement("p");
          p.innerHTML = d.toLocaleDateString();
          dayDiv.appendChild(p);

        }

        fetchEvents();

      }

    </script>
  </body>
</html>
