<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard - To Do</title>
  </head>
  <body>
    <p>Your user ID is {{userID}}</p>
    <p>Your username is {{username}}</p>
    <p id="qod"></p>
    <script>
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var quote = JSON.parse(xhttp.responseText).contents.quotes[0];
          var quoteText = quote.quote;
          var quoteAuthor = quote.author;
          document.getElementById("qod").innerHTML = "<em>" + quoteText + "</em> - " + quoteAuthor;
        }
      };
    xhttp.open("GET", "https://quotes.rest/qod", true);
    xhttp.send();
    </script>
  </body>
</html>
