<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard - To Do</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="toptext">
      <h2>Hello, <span id="name">{{username}}<span></h2>
      <p id="qod"></p>
    </div>
    <div class="bigwrap">
      <div class="wrapper">
        <div class="bigbox">
          <div id = "box1" class="box" onclick=nav(0)>
            <p class="text">Calendar</p>
            <img src="https://image.flaticon.com/icons/png/512/55/55281.png" width="75px" height="75px" alt="">
          </div>
        </div>
        <div class="bigbox">
          <div id = "box2" class="box" onclick=nav(1)>
            <p class="text">To Do List</p>
            <img src="https://cdn2.iconfinder.com/data/icons/productivity/256/To_Do_List-512.png" width="75px" height="75px"  alt="">
          </div>
        </div>
        <div class="bigbox">
          <div id = "box3" class="box" onclick=nav(2)>
            <p class="text">Notifications</p>
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/notification-142-647836.png" width="75px" height="75px" alt="">
          </div>
        </div>
        <div class="bigbox">
          <div id = "box4" class="box" onclick=nav(3)>
            <p class="text">Profile</p>
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/user-edit-profile-account-people-57599.png" width="75px" height="75px"  alt="">
          </div>
        </div>
        <div class="bigbox">
          <div id = "box5" class="box" onclick=nav(4)>
            <p class="text">About Us!</p>
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/about-us-1408181-1192691.png" width="75px" height="75px" alt="">
          </div>
        </div>
        <div class="bigbox">
          <div id = "box6" class="box" onclick=nav(5)>
            <p class="text">Log Out</p>
            <img src="https://cdn1.iconfinder.com/data/icons/materia-arrows-symbols-vol-3/24/018_128_arrow_exit_logout-512.png" width="75px" height="75px"alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>

      if("{{realName}}" != "") {
        document.getElementById("name").innerHTML = "{{realName}}";
      }

      function nav(num) {

        var form = document.createElement('form');
        form.style.visibility = 'hidden';
        form.method = 'POST';
        var key = document.createElement("input");
        key.name = "userID";
        key.value = {{userID}};
        form.appendChild(key);
        var key2 = document.createElement("input");
        key2.name = "username";
        key2.value = "{{username}}";
        form.appendChild(key2);
        var key3 = document.createElement("input");
        key3.name = "realName";
        key3.value = "{{realName}}";
        form.appendChild(key3);

        switch(num) {

          case 0:
            form.action = "calendar.html";
            break;
          case 1:
            form.action = "todo.html"
            break;
          case 2:
            break;
          case 3:
            form.action = "profile.html";
            break;
          case 4:
            break;
          case 5:
            location.href = "/";
            return;
            break;

        }

        document.body.appendChild(form);
        form.submit();

      }

      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var quote = JSON.parse(xhttp.responseText).contents.quotes[0];
          var quoteText = quote.quote;
          var quoteAuthor = quote.author;
          document.getElementById("qod").innerHTML = "<em>" + quoteText + "</em> - " + quoteAuthor;

        }
      };
    xhttp.open("GET", "https://quotes.rest/qod", true);
    xhttp.send();
    </script>
  </body>
</html>
