<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheet/login.css">
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    <h2>Lifestyle</h2>
    <br>
      <form id="loginInfo" method="post">
        <div>
          <p>Username: <input class="textInput"id="username" required type="text"/></p>
          <br>
          <p>Password: <input class="textInput"id="password" required type="password"/></p>
          <br>
          <div class="buttonContainer">

            <input type="submit"  class="loginButtons" onclick="hit(1)" id="loginbtn" value="Login"></input>
            <input type="submit"  class="loginButtons" onclick="hit(2)" id="signupbtn" value="Sign Up"></input>
          </div>

        </div>
    </form>
    <script>

      var val = 1;

      function hit(value) {
        val = value;
      }

      document.getElementById("loginInfo").addEventListener("submit", function(e) {

        e.preventDefault();

        var formData = new FormData();
        formData.append("username", document.querySelector("#username").value);
        formData.append("password", document.querySelector("#password").value);

        if(val == 1) {
          login(formData);
        }
        else {
          signup(formData);
        }

      });

      function login(data) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            if(isNaN(xhttp.responseText)) {
              alert(xhttp.responseText);
            }
            else {
              loadDashboard(xhttp.responseText);
            }
          }
        };
        xhttp.open("POST", "/login", true);
        xhttp.send(data);
      }
      function signup(data) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            if(isNaN(xhttp.responseText)) {
              alert(xhttp.responseText);
            }
            else {
              loadDashboard(xhttp.responseText);
            }
          }
        };
        xhttp.open("POST", "/signup", true);
        xhttp.send(data);
      }

      function loadDashboard(userID) {

        var form = document.createElement('form');
        form.style.visibility = 'hidden';
        form.method = 'POST';
        form.action = 'dashboard.html';
        var key = document.createElement("input");
        key.name = "userID";
        key.value = userID;
        form.appendChild(key);
        document.body.appendChild(form);
        form.submit();

      }

    </script>
  </body>
</html>
