<!DOCTYPE html>
<html>
  <head>
    <title>New Calendar Item - To Do</title>
    <link rel="stylesheet" type="text/css" href="stylesheet/newCalendarItem.css">
  </head>
  <body>
    <form id="formData" method="post">
      <h2>Create A New Event</h2>
      <p>Title: <input type="text" required name="title"></p>
      <p>Date (MM/DD/YYYY): <input type="text" pattern="(?=\d)^(?:(?!(?:10\D(?:0?[5-9]|1[0-4])\D(?:1582))|(?:0?9\D(?:0?[3-9]|1[0-3])\D(?:1752)))((?:0?[13578]|1[02])|(?:0?[469]|11)(?!\/31)(?!-31)(?!\.31)|(?:0?2(?=.?(?:(?:29.(?!000[04]|(?:(?:1[^0-6]|[2468][^048]|[3579][^26])00))(?:(?:(?:\d\d)(?:[02468][048]|[13579][26])(?!\x20BC))|(?:00(?:42|3[0369]|2[147]|1[258]|09)\x20BC))))))|(?:0?2(?=.(?:(?:\d\D)|(?:[01]\d)|(?:2[0-8])))))([-.\/])(0?[1-9]|[12]\d|3[01])\2(?!0000)((?=(?:00(?:4[0-5]|[0-3]?\d)\x20BC)|(?:\d{4}(?!\x20BC)))\d{4}(?:\x20BC)?)(?:$|(?=\x20\d)\x20))?((?:(?:0?[1-9]|1[012])(?::[0-5]\d){0,2}(?:\x20[aApP][mM]))|(?:[01]\d|2[0-3])(?::[0-5]\d){1,2})?$" required name="date"></p>
      <p>Time (HH:MM): <input pattern="(([0-1][0-9])|([2][0-3])):([0-5]+[0-9])" type="text" required name="time"></p>
      <p>Location: <input type="text" required name="location"></p>
      <input type="hidden" value="{{userID}}" name="userID">
      <input type="submit">
      <button onclick="back()">Cancel</button>
    </form>
    <script>
      function back() {
        var form = document.createElement('form');
        form.style.visibility = 'hidden';
        form.method = 'POST';
        form.action = 'calendar.html';
        var key = document.createElement("input");
        key.name = "userID";
        key.value = "{{userID}}";
        form.appendChild(key);
        var username = document.createElement("input");
        username.name = "username";
        username.value = "{{username}}";
        form.appendChild(username);
        var key3 = document.createElement("input");
        key3.name = "realName";
        key3.value = "{{realName}}";
        form.appendChild(key3);
        document.body.appendChild(form);
        form.submit();
      }
      document.getElementById("formData").addEventListener("submit", function(e) {

        e.preventDefault();
        var formData = new FormData(document.getElementById("formData"));

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            window.setTimeout(back, 500);
          }
        };
        xhttp.open("POST", "/addCalItem", true);
        xhttp.send(formData);

      });
    </script>
  </body>
</html>
