<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add To-Do Item</title>
    <link rel="stylesheet" type="text/css" href="stylesheet/newToDoItem.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <h2>Add To-Do Item</h2>
  <body>
    <div class="">
        <form id="NewToDo" class="form" action="addToDoItem" method="post">
          <input type="hidden" name="userID" value="{{user.key.integer_id()}}"/>
          <label for="name">Name:</label>
          <input type="text" name="name" required>
          <br>
          <br>
          <label for="date">Date:</label>
          <input type="date" name="date" required>
          <br>
          <br>
          <label for="time">Time:</label>
          <input type="time" name="time" required>
          <br>
          <br>
          <label for="urgency">Urgency:</label>
          <select class="form" name="urgency" required>
              <option value="red">Red</option>
              <option value="orange">Orange</option>
              <option value="yellow">Yellow</option>
          </select>
          <br>
          <br>
          <label for="note">Note:</label>
          <br>
          <textarea name="note" rows="4"></textarea>
          <br>
          <br>
          <input class="center searchButtons" id="subButton" type="submit" name="Submit" value="Submit">
          <br>
          <br>
        </form>
      </div>
      <form class="form" action="todo.html" method="post">
        <input type="hidden" name="userID" value="{{user.key.integer_id()}}">
        <input id="backButton" class="center" type="submit" name="goBackButton" value="Go Back">
      </form>

  </body>
</html>
