<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheet/notifications.css">
    <title>Notifications - To Do</title>
  </head>
  <body>
    {{CalendarItems}}
    {{TodoItems}}
    <form action="dashboard.html" method="post">
      <input type="hidden" name="userID" value="{{userID}}">
      <input type="hidden" name="realName" value="{{realName}}">
      <input type="hidden" name="username" value="{{username}}">
      <input type="submit" name="Submit" value="Go Back">
    </form>
  </body>
</html>
