<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <div class="">
      Username: {{user.username}}
      <br>
      Password: {{user.password}}
      <br>
      RealName: {{user.realName}}
    </div>
    <form class="form" action="profile.html" method="post">
      <!--<input type="text" name="realName" value="Real Name">-->
      <input type="hidden" name="userID" value="{{user.key.integer_id()}}"/>
      <label for="realName">Input Real Name</label>
      <input type="text" name="realName">
      <br>
      <input type="submit" name="Submit" value="Submit">
    </form>
    <form class="form" action="dashboard.html" method="post">
      <input type="hidden" name="userID" value="{{user.key.integer_id()}}">
      <<input type="hidden" name="realName" value="{{user.realName}}">
      <input type="submit" name="Submit" value="Go Back">
    </form>
  </body>
</html>
