<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    {{user}}
    <div class="">
      {{user.username}}
    </div>
    <form class="form" action="dashboard.html" method="post">
      <!--<input type="text" name="realName" value="Real Name">-->
      <input type="hidden" name="userID" value="{{user.key.integer_id()}}"/>
      <input type="hidden" name="realName" value="realName">
      <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>
