<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Account</title>
  </head>
  <body>
    <img src="https://static.thenounproject.com/png/219377-200.png" width="75px" height="75px"alt="">
    <h2>Account</h2>
    <div class="">
      Username: {{user.username}}
      <br>
      <br>
      <label for="newUserName">Change Username:</label>
      <input type="text" name="newUserName">
      <input type="submit" name="Submit" value="Submit">
      <br>
      <br>
      Password: {{user.password}}
      <br>
      <br>
      <label for="newPassword">Change Password:</label>
      <input type="text" name="newPassword">
      <input type="submit" name="Submit" value="Submit">
      <br>
      <br>
      RealName: {{user.realName}}
    </div>
    <form class="form" action="profile.html" method="post">
      <!--<input type="text" name="realName" value="Real Name">-->
      <input type="hidden" name="userID" value="{{user.key.integer_id()}}"/>
      <br>
      <label for="realName">Input Real Name:</label>
      <input type="text" name="realName">
      <input type="submit" name="Submit" value="Submit">
      <br>
      <br>
    </form>
    <form class="form" action="dashboard.html" method="post">
      <input type="hidden" name="userID" value="{{user.key.integer_id()}}">
      <<input type="hidden" name="realName" value="{{user.realName}}">
      <input type="submit" name="Submit" value="Go Back">
    </form>
  </body>
</html>
