<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="stylesheet/todo.css">
  </head>
  <body>
    <div id="header">
      {{user.realName}}'s To-Do List
    </div>
    <div id="addItem" class="button">
      <form action="addToDoItem"  method="post">
        <input type="submit" name="addToDoItem" value="Add New Item">
        <input type="hidden" name="userID" value="{{user.key.integer_id()}}">
      </form>
    </div>
    <div id="goBackContainer">
      <form class="form" name="goBackButton" action="dashboard.html" method="post">
        <input type="hidden" name="userID" value="{{user.key.integer_id()}}">
        <input type="submit" name="goBackButton" value="Go Back">
      </form>
    </div>
    <div class="itemContainer">
      <div id="whatBox" class="box">
        To Do:
      </div>
      <div id="whenBox" class="box">
        Date/Time:
      </div>
        {%for item in toDoItems%}
          <form action="viewItem.html" method="post">
            <input type="hidden" name="userID" value="{{user.key.integer_id()}}">
            <input type="hidden" name="itemName" value="{{item.name}}">
            <input type="hidden" name="itemID" value="{{item.key.integer_id()}}">
            <input class="toDoItem" id="urgency{{item.urgency}}"type="submit" name="toDoItemWhat" value="{{item.name}}">
          </form>
          <form action="viewItem.html" method="post">
            <input type="hidden" name="userID" value="{{user.key.integer_id()}}">
            <input type="hidden" name="itemName" value="{{item.name}}">
            <input type="hidden" name="itemID" value="{{item.key.integer_id()}}">
            <input class="toDoItem" id="urgency{{item.urgency}}"type="submit" name="toDoItemWhen" value="{{item.time}}  {{item.date}}">
          </form>
        {%endfor%}
      </div>
    </div>

  </body>
</html>
