<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{toDoItem.name}}</title>
  </head>
  <body>
    {{toDoItem}}
    <div class="">
      Name: {{toDoItem.name}}
      <br>
      Time: {{toDoItem.time}}
      <br>
      Date: {{toDoItem.date}}
      <br>
      Urgency: {{toDoItem.urgency}}
      <br>
      Note: {{toDoItem.note}}
    </div>
    <input type="button" name="delete" value="Delete Item" onClick="deleteEntry()">
    <script>

      function backPage() {
        var form = document.createElement("form");
        form.style.visibility = "hidden";
        form.method = "POST";
        form.action = "todo.html";
        var key = document.createElement("input");
        key.name = "userID";
        key.value = "{{user.key.integer_id()}}";
        form.appendChild(key);
        document.body.appendChild(form);
        form.submit();
      }

      function deleteEntry() {
        if(confirm("Are you sure you want to delete this item?")) {
          var formData = new FormData();
          formData.append("id", "{{toDoItem.key.integer_id()}}");
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200) {
              window.setTimeout(backPage, 500);
            }
          }
          xhttp.open("POST", "/deleteToDoItem");
          xhttp.send(formData);
        }
      }
    </script>
  </body>
</html>
